body{
    --ion-background-color: #E0B0FF !important;
}
   
    
.mi-card {
    background-color: rgba(255, 255, 255, 0.635); /* Cambia el color de fondo a tu elección */
    color: #401623; /* Cambia el color del texto si es necesario */
}

ion-title {
    font-family: 'Quicksand', sans-serif;
}

ion-card-title {
    font-family: 'Quicksand', sans-serif;
    text-align: center;
    color: #540c84;
}

ion-card-content {
    font-family: 'Kanit', sans-serif;
    font-weight: 700; /* Negrita */
    padding: 40px;
}

.icon-container {
    font-size: 20px; /* Cambia el tamaño a tu preferencia */
}